@mixin at($modifiers, $scrape: false) {
  $classes: ();
  $parent: &;

  @each $modifier in $modifiers {
    $classes: append($classes, #{$modifier});
  }

  @at-root {
    @if($scrape) {
      #{$classes}#{$parent} {
        @content;
      }
    } @else {
      #{$classes} & {
        @content;
      }
    }
  }
}

@mixin next($modifiers) {
  $classes: ();

  @each $modifier in $modifiers {
    $classes: append($classes, #{$modifier});
  }

  @at-root {
    #{$classes} + & {
      @content;
    }
  }
}
