@mixin make-width() {
    $max: 600;
    $i: 0;

    @for $i from 0 through $max {
        .#{width-}#{$i} {
            width: toRem($i);
        }
    }

    .width-full {
        width: 100%;
    }

    @include tablet {
        .width-sm-full {
            width: 100%;
        }

        .width-sm-half {
            width: 50%;
        }
    }

    @include mobile {
        .width-xs-full {
            width: 100%;
        }

        .width-xs-half {
            width: 50%;
        }
    }
}
