.about-page {
  .about-cover {
    width: 100%;
    height: toRem(380);
    object-fit: cover;
    object-position: top center;

    @include tablet {
      margin-left: toRem(-20);
      width: calc(100% + 40px);
      border-radius: 0 !important;
    }
  }

  .about-thumb {
    width: 100%;
    height: toRem(212);
    object-fit: cover;
    object-position: top center;
  }

  .about-gallery-thumb {
    width: 100%;
    height: toRem(130);
    object-fit: cover;
    object-position: top center;
  }
}