@import 'trainings-single';
@import 'about';
@import 'home';
@import 'contact';


.mt-2 {
    margin-top: 5px;
}

.validation_error {
    font-size: 0.8rem;
    color: red !important;
}


.map {
    display: flex;
    text-align: center;
}


/**
 -- footer
 */
.language-switcher {
    a {
        display: inline-flex;
        text-decoration: auto;
        color: #000;

        img {
            margin-right: 5px;
        }
    }
}

.margin-minus-12 {
    margin: -12px;
}
