.home {
  .hero {
    &__content {
      @include tablet {
        padding-bottom: toRem(24);
      }

      .button {
        @include tablet {
          margin-top: toRem(32);
        }
      }
    }

    h2 {
      @include desktop-small {
        line-height: toRem(42);
        padding-right: toRem(100);
      }

      @include tablet {
        line-height: toRem(44);
        padding-right: 0;
      }
    }

    &__text {
      @include desktop-small {
        font-size: toRem(13);
      }

      @include tablet {
        font-size: toRem(16);
      }
    }

    &__image {
      height: toRem(462);

      @include desktop-small {
        height: toRem(400);
      }

      @include tablet {
        display: none;
      }
    }

    .carousel__navigation {
      position: absolute;
      left: 0;
      right: 0;
      bottom: toRem(29);

      @include tablet {
        position: relative;
        bottom: initial;
      }
    }
  }

  .companies__grid {
    @include tablet {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      gap: toRem(30);
      box-sizing: border-box;
    }

    .company-item {
      @include tablet {
        flex-basis: 25%;
      }

      @include mobile {
        flex-basis: 45%;
      }
    }
  }

  &__section {
    position: relative;

    h2 {
      @include tablet {
        font-size: toRem(28);
      }
    }

    &--companies {
      .v-lazy-image:not(.v-lazy-image-loaded) {
        height: toRem(40);
        opacity: .4;
      }
    }

    .news-carousel,
    .trainers-carousel {
      .carousel {
        position: initial;
      }

      .carousel__navigation {
        position: absolute;
        left: 0;
        bottom: toRem(-4);

        @include tablet {
          position: initial;
          left: initial;
          bottom: initial;
        }

        &-more {
          display: none;

          @include tablet {
            display: flex;
          }
        }
      }
    }

    .carousel__track {
      .carousel__slide {
        padding: 0 toRem(12);

        @include tablet {
          padding: 0 toRem(20);
        }
      }
    }

    &.about {
      .home__section-image {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #E5E5E5;
        width: 100%;
        height: toRem(420);

        @include mobile {
          height: toRem(250);
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .v-lazy-image:not(.v-lazy-image-loaded) {
          width: toRem(40);
          height: toRem(40);
          opacity: .4;
        }
      }

      .button {
        display: none;

        @include tablet {
          display: flex;
        }
      }
    }

    .trainers-container {
      display: grid;
      grid-template-columns: toRem(306) minmax(0, 1fr);

      @include tablet {
        grid-template-columns: repeat(1, minmax(0, 1fr));
      }
    }

    &-more {
      display: none;

      @include tablet {
        display: block;
      }
    }
  }

  .statistic {
    .font-size-xxl {
      font-size: toRem(48) !important;
    }

    &__item {
      position: relative;

      @include tablet {
        border-bottom: 1px solid #E5E5E5;
      }

      &:last-child {
        @include tablet {
          border-bottom: 0;
        }
      }
    }
  }
}