.trainings-single {
  &__content {
    display: grid;
    grid-template-columns: toRem(208) auto;

    @include tablet {
      display: block;
      grid-template-columns: initial;
    }
  }

  &__thumb {
    width: 100%;
    height: toRem(212);
    object-fit: cover;
    object-position: top center;
  }

  &__left {
    .label {
      height: auto;
    }
  }

  &__cover {
    width: 100%;
    height: toRem(380);
    object-fit: cover;
    object-position: top center;
  }

  &__reviews,
  .review {
    @include desktop-small {
      display: none;
    }
  }

  .register-labels {
    @include tablet {
      display: none;
    }
  }

  .trainers {
    .carousel__prev,
    .carousel__next {
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);

      @include mobile {
        display: none;
      }
    }

    .carousel__prev {
      left: 0;
    }

    .carousel__next {
      right: 0;
      transform: translate(50%, -50%);
    }
  }

  .similar-carousel {
    margin: 0 toRem(-12);

    .carousel__slide {
      padding: 0 toRem(12);
    }

    .carousel__prev,
    .carousel__next {
      background-color: #9DBF53;
      color: white;
      border-color: #9DBF53;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);

      @include mobile {
        display: none;
      }
    }

    .carousel__prev {
      left: toRem(-3);
    }

    .carousel__next {
      right: toRem(-3);
    }
  }

  &__lecturer {
    img {
      width: 100%;
      height: toRem(250);
      object-fit: cover;
    }

    &-image {
      width: toRem(192);
    }

    &-info {
      width: calc(100% - 222px);
    }
  }

  &__description {
    figure {
      margin: 0;

      img {
        width: 100%;
        height: toRem(440);
        margin: toRem(10) 0;
        object-fit: cover;
        border-radius: toRem(10);
      }

      table {
        width: 100%;

        tr {
          display: flex;
          justify-content: space-between;
          column-gap: toRem(20);
        }

        td {
          width: 50%;

          img {
            height: toRem(212);
          }
        }
      }
    }
  }

  .about-thumb {
    width: 100%;
    height: toRem(212);
    object-fit: cover;
    object-position: top center;
  }

  .about-gallery-thumb {
    width: 100%;
    height: toRem(130);
    object-fit: cover;
    object-position: top center;
  }
}

#training-program{
    display: inline-flex;
}
