.hover {
  &-right-left-animation {
    &:hover {
      .button__icon {
        animation-name: rightLeftAnimation;
        animation-duration: .8s;
      }
    }
  }
}

@keyframes rightLeftAnimation {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(toRem(8));
  }

  100% {
    transform: translateX(0);
  }
}