.border-0 {
  border: 0;
}

.border-top-1 {
  border-bottom: 1px solid #E5E5E5;
}

.border-bottom-1 {
  border-bottom: 1px solid #E5E5E5;
}

@include desktop-small {
  .border-md-none {
    border: 0 none;
  }
}

.border-color-middle-green-yellow {
  border-color: #9DBF53;
}