.font-size-xxl {
  font-size: toRem(48);

  @include desktop {
    font-size: toRem(42);
  }

  @include desktop-small {
    font-size: toRem(30);
  }

  @include tablet {
    font-size: toRem(28);
  }
}

.font-size-xl {
  font-size: toRem(36);
}

.font-size-lg {
  font-size: toRem(24);
}

.font-size-md {
  font-size: toRem(18);
}

.font-size-sm {
  font-size: toRem(16);
}

.font-size-2xs {
  font-size: toRem(14);
}

.font-size-xs {
  font-size: toRem(12);
}
