.text-decoration-none {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.text-center {
  text-align: center;

  &-sm-up {
    text-align: center;

    @include mobile {
      text-align: left;
    }
  }
}

.cursor-pointer {
  &:hover {
    cursor: pointer;
  }
}