.footer {
  font-size: toRem($footer-font-size);
  margin-top: toRem(70);

  @include tablet {
    margin-top: toRem(40);
    padding: 0 toRem(16);
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: toRem($footer-padding-y) toRem($footer-padding-x);
    border-top: toRem($footer-border-width) $footer-border-style $footer-border-color;

    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
      border-width: toRem(1);
    }
  }

  &__nav {
    @include tablet {
      order: -1;
      flex-basis: 100%;
      padding-bottom: toRem($footer-padding-y);
      border-bottom: toRem(1) $footer-border-style $footer-border-color;
    }
  }

  .language-switcher {
    @include tablet {
      margin-left: auto;
      margin-top: toRem(-16);
    }
  }

  &__brand {
    @include tablet {
      flex-basis: 50%;
    }
  }

  &__copy {
    @include tablet {
      flex-basis: 50%;
      text-align: right;
    }
  }
}

.nav {
  @include at('.footer') {
    @include tablet {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-column-gap: toRem(78);
      grid-row-gap: toRem(16);
      flex-basis: 100%;
    }
  }

  &__item {
    @include tablet {
      padding: 0 !important;
    }
  }

  &__link {
    @include at('.footer') {
      font-size: toRem($footer-font-size);
    }
  }
}
