$grid__cols: 12;

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  box-sizing: border-box;
  margin-left: toRem(-10);
  margin-right: toRem(-10);
}

@each $modifier , $breakpoint in $grid-breakpoints {
  @media only screen and (min-width: 1367px) {
    @for $i from 1 through $grid__cols {
      .col-#{$i} {
        flex-basis: (100 / ($grid__cols / $i) ) * 1%;
        box-sizing: border-box;
        padding-left: toRem(10);
        padding-right: toRem(10);
      }
    }
  }

  @media only screen and (max-width: $breakpoint) {
    @for $i from 1 through $grid__cols {
      .col-#{$modifier}-#{$i} {
        flex-basis: (100 / ($grid__cols / $i) ) * 1%;
        box-sizing: border-box;
        padding-left: toRem(10);
        padding-right: toRem(10);
      }
    }
  }
}