.header {
  width:  $header-width;
  height: toRem($header-height);

  @include tablet {
    height: toRem(68);
  }

  &__container {
    display: flex;
    align-items: center;
    height: 100%;

    @include desktop {
      justify-content: space-between;
    }
  }

  &__brand {
    img {
      @include mobile {
        height: toRem(36);
      }
    }
  }

  &__nav {
    padding-left: toRem(88);

    @include desktop {
      padding-left: 0;
    }

    @include desktop-small {
      display: none;
    }
  }

  &__profile {
    margin-left: auto;

    @include desktop {
      margin-left: initial;
    }

    @include desktop-small {
      display: none;
    }
  }

  .custom-select {
    height: toRem(43);
    line-height: toRem(43);

    .selected {
      padding: 0 toRem(40) 0 toRem(20) !important;

      &.open {
        border-bottom-color: transparent !important;
      }
    }

    .items {
      line-height: toRem(30);

      & > div {
        color: black !important;
        margin-bottom: toRem(8);
        padding: 0 toRem(20) !important;

        a {
          text-decoration: none;
          color: black;
          font-weight: 400;

          &:hover {
            color: #E49540;
          }
        }

        &:hover {
          color: #E49540 !important;
          background-color: transparent;
        }
      }
    }
  }
}

.nav {
  &__link {
    &:hover {
      @include at('.header__nav') {
        color: #E49540;
      }
    }
  }
}

.burger-menu {
  position: fixed;
  width: 100%;
  height: calc(100% - 100px);
  top: toRem(100);
  left: 0;
  background-color: white;
  z-index: 999;

  @include tablet {
    top: toRem(68);
    height: calc(100% - 68px);
    padding: 0 toRem(16);
  }

  .nav {
    &__link {
      line-height: toRem(50);
    }
  }
}