.card {
  border: toRem(1) solid #E5E5E5;
  border-radius: toRem(10);

  &__body {
    padding: toRem(32);
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: toRem(180);
    background-color: #E5E5E5;
    overflow: hidden;
    border-radius: toRem(10);

    @include tablet {
      height: toRem(380);
    }

    @include mobile {
      height: toRem(180);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: toRem(10);
      transition: transform .25s ease-in-out;

      &:hover {
        transform: scale(1.08);
      }
    }

    .v-lazy-image:not(.v-lazy-image-loaded) {
      width: toRem(40);
      height: toRem(40);
      opacity: .3;
    }
  }

  &__date {
    display: inline-block;
    font-size: toRem(12);
    color: rgba(black, .6);
    padding-top: toRem(16);
  }

  &__title {
    font-size: toRem(18);
    font-weight: 600;
    color: #0A2B12;
    height: toRem(72);
    line-height: toRem(22);
    padding-top: toRem(28);
  }

  &__text {
    font-size: toRem(16);
    color: rgba(black, .6);
    line-height: toRem(19);
    padding-top: toRem(12);
  }
}
