.popup {
  visibility: visible;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;

  &.show {
    visibility: visible;

    .popup__overlay {
      visibility: visible;
      background-color: rgba(0, 0, 0, .8);
    }
  }

  &__inner {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  &__content {
    background-color: white;
    width: toRem(490);
    padding: toRem(32);
    border-radius: toRem(10);

    @include tablet {
      width: 100% !important;
      height: 100% !important;
      padding: toRem(16);
      border-radius: 0;
    }
  }

  &__close {
    background-color: transparent;
    padding: toRem(7) toRem(9) toRem(6);

    &:hover {
      background-color: map-get($colors, 'platinum');
    }
  }

  &__overlay {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    transition: $base-transition;
  }
}