@font-face {
    font-family: 'FiraGO';
    src: url('../../fonts/firago/book/FiraGO-Book.woff2') format('woff2'),
    url('../../fonts/firago/book/FiraGO-Book.woff') format('woff'),
    url('../../fonts/firago/book/FiraGO-Book.eot') format('eot');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'FiraGO';
    src: url('../../fonts/firago/regular/FiraGO-Regular.woff2') format('woff2'),
    url('../../fonts/firago/regular/FiraGO-Regular.woff') format('woff'),
    url('../../fonts/firago/regular/FiraGO-Regular.eot') format('eot');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'FiraGO';
    src: url('../../fonts/firago/medium/FiraGO-Medium.woff2') format('woff2'),
    url('../../fonts/firago/medium/FiraGO-Medium.woff') format('woff'),
    url('../../fonts/firago/medium/FiraGO-Medium.eot') format('eot');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'FiraGO';
    src: url('../../fonts/firago/semibold/FiraGO-SemiBold.woff2') format('woff2'),
    url('../../fonts/firago/semibold/FiraGO-SemiBold.woff') format('woff'),
    url('../../fonts/firago/semibold/FiraGO-SemiBold.eot') format('eot');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'FiraGO';
    src: url('../../fonts/firago/bold/FiraGO-Bold.woff2') format('woff2'),
    url('../../fonts/firago/bold/FiraGO-Bold.woff') format('woff'),
    url('../../fonts/firago/bold/FiraGO-Bold.eot') format('eot');
    font-weight: 700;
    font-style: normal;
}
