// Colors
$colors:                          (
                                      'middle-green-yellow': #9DBF53,
                                      'fulvous': #D98730,
                                      'hunter-green': #2D663A,
                                      'dark-green': #0A2B12,
                                      'apple-green': #8FB342,
                                      'platinum': #E5E5E5,
                                      'dim-gray': #666,
                                      'facebook': #1778F2,
                                      'gmail': #EA4335,
                                      'black': black,
                                      'white': white
                                  ) !default;

$variants:                        (
                                      'primary': (
                                          'default': map-get($colors, 'middle-green-yellow'),
                                          'hover': darken(map-get($colors, 'middle-green-yellow'), 8%),
                                          'text': white
                                      ),
                                      'secondary': (
                                          'default': map-get($colors, 'fulvous'),
                                          'hover': darken(map-get($colors, 'fulvous'), 4%),
                                          'text': white
                                      ),
                                      'light': (
                                          'default': map-get($colors, 'platinum'),
                                          'hover': darken(map-get($colors, 'platinum'), 4%),
                                          'text': black
                                      ),
                                      'facebook': (
                                              'default': map-get($colors, 'facebook'),
                                              'hover': darken(map-get($colors, 'facebook'), 4%),
                                              'text': black
                                      ),
                                      'gmail': (
                                              'default': map-get($colors, 'gmail'),
                                              'hover': darken(map-get($colors, 'gmail'), 4%),
                                              'text': black
                                      ),
                                  ) !default;

// Base
$base-transition:                 all .4s ease-in-out !default;
$base-transition-sm:              all .2s ease-in-out !default;
$base-border-radius:              (
                                      'default': 10,
                                      'lg': 20,
                                      'sm': 5
                                  ) !default;
// Sizes
$font-size-xxl:                   18 !default;
$font-size-xl:                    16 !default;

$container-width:                 1296 !default;
$container-width-lg:              962 !default;

$grid-breakpoints:         (
        'lg': 1366px,
        'md': 1280px,
        'sm': 991px,
        'xs': 768px
);

// Body
$body-bg:                         white !default;
$font-family:                     'FiraGO', sans-serif !default;

// Links
$link-color:                      variantsMap(primary, default) !default;
$link-hover-color:                variantsMap(primary, hover) !default;
$link-text-decoration:            underline !default;
$link-hover-text-decoration:      none !default;
$link-font-weight:                600 !default;

// Header
$header-width:                    100% !default;
$header-height:                   100 !default;
$header-padding-x:                72 !default;
$header-nav-font-size:            (
                                      'default': 18,
                                      'xl': 16
                                  ) !default;
$header-nav-item-padding-x:       18 !default;
$header-nav-link-color:           white !default;
$header-nav-link-text-decoration: none !default;
$header-nav-text-transform:       uppercase !default;
$header-nav-link-transition:      all .4s ease-in-out !default;
$header-nav-link-line-color:      map-get($variants, '$variants') !default;
$header-nav-link-line-height:     2 !default;
$header-nav-link-line-y:          15 !default;

// Footer
$footer-padding-y:                34 !default;
$footer-padding-x:                0 !default;
$footer-border-width:             2 !default;
$footer-border-style:             solid !default;
$footer-border-color:             rgba(black, .1) !default;
$footer-font-size:                12 !default;

// Button
$button-font-size:                16 !default;
$button-font-weight:              600 !default;
$button-border:                   1px solid transparent !default;
$button-sizes:                    (
                                      'default': (
                                          'y': 18,
                                          'x': 32,
                                          'size': 16,
                                          'weight': 600
                                      ),
                                      'sm': (
                                          'y': 8,
                                          'x': 12,
                                          'size': 12,
                                          'weight': normal
                                      )
                                  ) !default;
$button-text-decoration:          none !default;
$button-box-shadow-h:             4 !default;
$button-box-shadow-v:             4 !default;
$button-box-shadow-blur:          34 !default;
$button-box-shadow-opacity:       .3 !default;
$button-border-radius:            map-get($base-border-radius, 'lg') !default;
$button-transition:               $base-transition !default;

// Form
$checkbox-width:                  16 !default;

// Nav
$nav-item-padding-y:              0 !default;
$nav-item-padding-x:              16 !default;

// Bem
$element-separator:               '__' !default;
$modifier-separator:              '--' !default;
$state-prefix:                    'is' !default;
